.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'header'
    'content'
  ;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'menu'
  ;

  grid-area: header;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;

  grid-area: menu;

  padding: 15px;
}

.content {
  grid-area: content;
}