#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    /* border: 1px solid black; */
}

#menu-back-route,
#menu-config {
    display: flex;
    align-items: center;
}

#menu-back-route {
    justify-content: flex-start;
    /* border: 1px solid black; */
}

#menu-config {
    justify-content: flex-end;
    /* border: 1px solid black; */
}

#menu-client-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    pointer-events: none;
    /* border: 1px solid black; */
}