#menu-container {
    display: flex;
    width: 100%;
}

#menu-config {
    display: flex;
    justify-content: right;

    width: 100%;
}

#menu-back-route {
    display: flex;
    justify-content: left;

    width: 100%;
}