.menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.menu-content {
    width: 100px;
}

.client-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px gray; */
    width: auto;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.service-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px gray; */
    width: auto;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon-menu {
    width: 50px;
    height: 60px;
    color: #fff;
}