#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
}

#grid-container {
    display: grid;
    grid-template-rows: 50px 100px 50% 1fr;
    grid-template-areas:
        'grid-container-line1'
        'grid-container-line2'
        'grid-container-line3'
        'grid-container-line4'
    ;
}

#grid-container-line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: grid-container-line1;
    border: 1px solid black;
}

#grid-container-line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: grid-container-line2;
    border: 1px solid black;
    padding: 10px;
}

#grid-container-line3 {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        'grid-container-line3-element1'
        'grid-container-line3-element2'
    ;
    grid-area: grid-container-line3;
}

#grid-container-line3-element1 {
    display: flex;
    justify-content: center;
    grid-area: grid-container-line3-element1;

    padding: 10px;
}

#grid-container-line3-element2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: grid-container-line3-element2;
}

#grid-container-line4 {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        'grid-container-line4-element1'
        'grid-container-line4-element2'
    ;
    grid-area: grid-container-line4;
}

#grid-container-line4-element1 {
    display: flex;
    justify-content: center;
    grid-area: grid-container-line4-element1;

    padding: 10px;
}

#grid-container-line4-element2 {
    display: flex;
    flex-direction: column;
    grid-area: grid-container-line4-element2;
}

.table-line {
    display: flex;
    justify-content: center;

    padding: 5px;
    border: 1px solid black;
}

.info-separator {
    display: flex;
    justify-content: left;
    /* margin: 5px; */
    width: 70%;
    position: static;

    /* border: 1px solid black; */
}

.info-box {
    display: grid;
    grid-template-rows: 30% 1fr;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        'info-box-column-1'
        'info-box-column-2'
    ;

    width: 110px;
    height: 72px;
    border: black solid 1px;
}

.info-box-label {
    display: flex;
    justify-content: center;
    grid-area: info-box-column-1;
}

.info-box-value {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    grid-area: info-box-column-2;
}