#list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
}

#grid-container {
    display: grid;
    grid-template-rows: 50px 100px 1fr;
    grid-template-areas:
        'grid-container-line1'
        'grid-container-line2'
        'grid-container-line3'
    ;

    margin: 10px;
}

#grid-container-line1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'grid-container-line1-element1'
    ;
    grid-area: grid-container-line1;

    border: 1px solid black;
    border-radius: 5px;
}

#grid-container-line1-element1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: grid-container-line1-element1;
}

#grid-container-line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: grid-container-line2;

    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#grid-container-line3 {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.table-line {
    display: flex;
    justify-content: center;

    padding: 5px;
    border-bottom: 1px solid black;
    width: 100%;
}