#service-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
}

#service-grid-container {
    display: grid;
    grid-template-rows: 50px 70px 450px 1fr 70px;
    grid-template-areas:
        'service-grid-container-line1'
        'service-grid-container-line2'
        'service-grid-container-line3'
        'service-grid-container-line4'
        'service-grid-container-line5'
    ;
}

#service-grid-container-line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: service-grid-container-line1;

    border-top: 1px solid black;
}

#service-grid-container-line2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: service-grid-container-line2;

    padding: 10px;
    border-top: 1px solid black;
}

#service-grid-container-line3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: service-grid-container-line3;

    padding: 10px;
    border-top: 1px solid black;
}

#service-grid-container-line4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: service-grid-container-line4;

    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#service-grid-container-line5 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: service-grid-container-line5;

    border-right: 1px solid black;
}

#service-table-box {
    display: grid;
    grid-template-columns: 120px 70px 90px 80px;
    grid-template-rows: 100%;
    grid-template-areas:
        'line1-column1 line1-column2 line1-column3 line1-column4'
    ;
    margin-bottom: 15px;
}

#line1-column1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: line1-column1;
    padding: 2px;
    border-right: 1px solid black;
}

#line1-column2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: line1-column2;
    padding: 2px;
    border-right: 1px solid black;
}

#line1-column3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: line1-column3;
    padding: 2px;
    border-right: 1px solid black;
}

#line1-column4 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: line1-column4;
    padding: 2px;
    /* border-right: 1px solid black; */
}