.body {
  display: grid;  
  grid-template-columns: 100%;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    'header'
    'content'
  ;
}

.header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  'logo menu'
  ;

  grid-area: header;
}

.menu {
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
  align-items: center;
  
  padding-right: 50px;
  background-color: white;
  
  grid-area: menu;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  /* border: solid 1px black; */

  background-color: white;
      
  grid-area: logo;  
}

.content {
  grid-area: content;
  border: solid 1px black;
}
